$primary: #6746EC;
$danger: #ff4136;
$warning: #F6E018;

$theme-colors: (
    "primary": $primary,
    "danger": $danger,
    "warning": $warning
);

$custom-colors: (
    //"custom-color": #900
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "node_modules/bootstrap/scss/bootstrap";

@import "elements/common";
@import "elements/footer";
@import "elements/form";
@import "elements/header";

@import "pages/homepage";
