.s-hero {
  .hero-title {
    margin: 2.5em 0 .5em;
  }
}

.bl-price {
  padding: 5vh 3vw;
  font-size: 125%;

  .lead {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1em 0;
  }

  .l-action {
    margin: 1em 0;
  }

  @include media-breakpoint-up(sm) {
    position: sticky;
    top: 0;
  }
}

.s-about {
  padding: 3em 0;

  .title {
    margin: .75em 0;
  }

  .addon-info {
    padding: 2em 0 .5em;
  }
}
