<meta charset="UTF-8">
<link rel="stylesheet" href="assets/css/style.min.css">
<!--<link rel="icon" href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><circle fill="#9a82f9" cx="32" cy="32" r="32"/><text x="50%" y="50%" dy="0.2em" text-anchor="middle" font-family="Georgia, sans-serif" fill="#fff" font-size="64">a</text></svg>'/>-->
<link rel="icon" href="/assets/images/favicon.svg" type="image/svg+xml">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="">

<title>{{ title }}</title>
