:root {
  --bs-light-rgb: #fff;
}

img {
  max-width: 100%;
}

.pg-wrap {
  padding-top: 60px;
}

@include media-breakpoint-up(md) {
  .main {
    min-height: 86.7vh;
  }
}

.s {
  padding: 30px 0;

  .s-title {
    margin: .5em 0 1em;
  }
}
